*{
    margin: 0 ;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.topnav{
    background-color: #fff;
    overflow: hidden;
}

.site-brand{
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    opacity: 0.95;
    text-decoration: none;
    color: #088f8f;
}
.site-brand span{   
    font-weight: 200;
    color: #e8d24e;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7),rgba(4, 9, 30, 0.7)),url(images/2.jpg);
     background-size: cover;
     position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content:  space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;
}
.nav-links ul li a{
    color: black;
    font-size: 13px;
    text-decoration: none;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #e8d24e;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box   p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block ;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px  yellow;
    background: #088f8f;
    transition: 1s;
}
nav .fa{
    display: none;
}

@media(max-width: 700px){ 
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #088f8f;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -260px;
        text-align: left;
        z-index: 2;
        transition:1s ;
    }
    nav .fa{
        display: block;
        color: black;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links{
        padding: 30px;
    }
}

/*services*/
.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100PX;
}
    h1{
        font-size: 36%px;
        font-weight: 600;
    }
    p{
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
        color: #787878;
    }

    .row{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    }
    .services-col{
        flex-basis: 31%;
        background: #fff3f3;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
        transition: 0.5s;
    }
    .h3{
        text-align: center;
        font-weight: 600;
        margin: 10px 0;
    }
    .services-col p{
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
        color: #000;

    }
    .services-col:hover{
        box-shadow: 0 0 20px 0px rgba(232, 210, 78);
    }
    @media(max-width: 700px){
        .row{
            flex-direction: column;
        }
        .featured-item-content{
            transform: translateY(68%)
    }
    }

/*feaured*/
.featured-item{
    position: relative;
    width: 100%;
    overflow: hidden;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    margin: 0;
}
.featured-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.featured-item-content{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: #fff;
    width: 100%;
    padding: 1rem;
    -webkit-transform: translateY(68%);
        -ms-transform: translateY(68%);
            transform: translateY(68%);
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.featured-item-content span{
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
}
.featured-item-content .text{
    color: #fff;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.featured-item:hover .featured-item-content{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}
    
@media screen and (min-width: 768px){
    .featured-row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin-left: 20px;
        margin-right: 20px;
    }
    .featured-item{
        margin: 0;
    }
}

@media screen and (min-width: 1400px){
    .featured-row{
        grid-template-columns: repeat(3, 1fr)
    }
}

.py-4{
    padding: 4rem 0;
}
img{
    width: 100%;
    display: block;
}
.title-wrap{
    text-align: center;
    padding: 1.4rem 0;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.lg-title{
    font-size: 1.8rem;
}
.sm-title{
    display: block;
    color: #787878;
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.7;
}
.my-2{
    margin: 2rem 0;
}
.shadow:hover{
    -webkit-box-shadow: 0px 0px 18px -4px rgba(109, 109, 109, 0.64);
            box-shadow: 0px 0px 18px -4px rgba(109, 109, 109, 0.64);
}


/*Quick Facts*/
.facts{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images/12.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.facts h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
@media(max-width: 700px) {
    .facts h1{
        font-size: 24px;
    }
}

/*Footer*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-container{
    background: #0affff;
}
footer{
    background: #088f8f;
    height: auto;
    width: 100vw;
    font-family: 'Raleway', sans-serif;
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
    color: #000;
}
.footer-content span{
    color: #e8d24e;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #fff;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;

}
.socials a{
    text-decoration: none;
    color: #fff;

}
.socials a i{
    font-size:  1.1rem;
    transition: color .4s ease;
}
.socials a:hover {
    color: #e8d24e;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
